@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer components {
    .activo {
        background-color: #efb810;
        color: #000000;
        height: 4.375rem;
        padding-top: 0.3125rem;
        border-bottom: 0.3125rem solid #000000;
    }

}
*/

/* Estilos Header */
* {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

html {
    @apply bg-black;
}

header {
    @apply w-full bg-black;
}

header nav {
    /* 1920x1080 */
    @apply h-20 text-xl flex items-center text-[#efb810]

    /* 1366x768 */

    /* 720x1280 */
    max-[720px]:flex max-[720px]:text-center
}

.FondoCabecera {
    @apply mr-auto ml-[1.563rem] my-0 w-20 p-0 bg-black;
}

header nav a {
    @apply h-full w-44 text-[1.25rem] font-normal bg-black flex items-center justify-center transition duration-500 hover:bg-[#efb810] hover:text-black

    /* 1366x768 */

    /* 720x1280 */
    max-[720px]:hidden
}

.LogoCabecera {
    @apply min-w-20 bg-[#efb810] hover:bg-white transition duration-500

    /* 1366x768 */

    /* 720x1280 */
    max-[720px]:w-full;
}

.burger {
    @apply hidden
    /* 720x1280 */
    max-[720px]:border-[#efb810] max-[720px]:flex max-[720px]:items-center max-[720px]:justify-center max-[720px]:w-20 max-[720px]:h-20 max-[720px]:font-extrabold max-[720px]:text-3xl
}

.menu {
    @apply hidden h-auto justify-center items-center w-full;
}

input:checked ~ .menu {
    @apply max-[720px]:block max-[720px]:w-full
}

.menuHamburguesa {
    @apply max-[720px]:bg-red-500 max-[720px]:items-center max-[720px]:h-screen max-[720px]:w-full max-[720px]:absolute max-[720px]:inset-0
}

.menuHamburguesa li a {
    @apply h-20 flex justify-center items-center bg-black w-full
}

/* Estilos Body */
body {
    @apply m-0 bg-cover bg-no-repeat bg-fixed;
    background-image: url('../img/Tatuadora/tatuadora.jpeg');
}

main {
    @apply min-h-screen min-w-full m-0 flex items-center justify-center;
}

main div {
    @apply
    /* 1920x1080 */
    w-[113.375rem] h-[41.5rem] flex items-center bg-white/75

    /* 1366x768 */
    max-[1366px]:w-[56.6875rem] max-[1366px]:h-auto max-[1366px]:flex-col my-10

    /* 720x1280 */
    max-[720px]:w-[40rem] max-[720px]:h-auto max-[720px]:flex-col my-10

}

.info {
    @apply
    /* 1920x1080 */
    w-[62.5rem] h-auto flex-col bg-transparent justify-normal

    /* 1366x768 */
    max-[1366px]:w-[50rem] m-0

    /* 720x1280 */
    max-[720px]:w-[30rem]


}

.titulo {
    @apply font-bold text-4xl w-full;
    font-family: 'Josefin Slab';
}

.separador {
    @apply w-full h-1 bg-gradient-to-r from-transparent via-black to-transparent border-none mt-5 mb-10;
}

.infoTexto {
    @apply w-full h-auto bg-transparent flex-col items-start;
}

.texto {
    font-family: 'Josefin Slab';
    @apply text-xl leading-5 w-[50rem]


    /* 720x1280 */
    max-[720px]:w-full
}

.infoBoton {
    /* 1920x1080*/
    @apply bg-transparent h-auto w-full flex-col items-end mt-10
    /* 1366x768 */

    /* 720x1280 */
    max-[720px]:mt-0
    ;
}

.boton {
    @apply
    /* 1920x1080 */
    flex h-14 w-[31.25rem] bg-black text-[#efb810] justify-center items-center transition duration-500 hover:bg-[#efb810] hover:text-black

    /* 1366x768 */
    max-[1366px]:w-full

    /* 720x1280 */
    max-[720px]:w-full
}

.Logo {
    @apply
    /* 1920x1080 */
    w-[30.938rem] h-[30.938rem] opacity-100 ml-[8.063rem] mr-[9.938rem]

    /* 1366x768 */
    max-[1366px]:m-0
}


/* Estilos Footer */
footer {
    @apply w-full bg-black min-h-20 text-[#efb810] flex justify-center;
}

footer ul {
    @apply px-10;
}

footer ul {
    @apply text-xs font-normal leading-relaxed text-yellow-400 inline-block list-none;
  }

footer a {
    @apply hover:bg-[#efb810] hover:text-black transition duration-500;
  }

footer li {
    @apply first:text-[0.9375rem] first:font-thin first:text-left;
}
