@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer components {
    .activo {
        background-color: #efb810;
        color: #000000;
        height: 4.375rem;
        padding-top: 0.3125rem;
        border-bottom: 0.3125rem solid #000000;
    }

}
*/

/* Estilos Header */
* {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}

html {
    @apply bg-black
}

header {
    @apply w-full bg-black;
}

header nav {
    @apply h-20 text-xl flex items-center text-[#efb810];
}

.FondoCabecera {
    @apply mr-auto ml-[1.563rem] my-0 w-20 p-0 bg-black;
}

header nav a img {
    @apply min-w-20 bg-[#efb810] hover:bg-white transition duration-500;
}

header nav a {
    @apply h-full w-44 text-[1.25rem] font-normal bg-black flex items-center justify-center transition duration-500 hover:bg-[#efb810] hover:text-black;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
}


/* Estilos Body */
body {
    @apply m-0 bg-cover bg-no-repeat bg-fixed;
    background-image: url('../img/Tatuadora/tatuadora.jpeg');
}

main {
    @apply min-h-screen min-w-full m-0 flex items-center justify-center;
}

main div {
    @apply w-[113.375rem] h-[41.5rem] flex items-center bg-white/75;
}

.info {
    @apply w-[62.5rem] h-auto flex-col bg-transparent justify-normal;
}

.titulo {
    @apply font-bold text-4xl w-full;
    font-family: 'Josefin Slab';
}

.separador {
    @apply w-full h-1 bg-gradient-to-r from-transparent via-black to-transparent border-none mt-5 mb-10;
}

.infoTexto {
    @apply w-full h-auto bg-transparent flex-col items-start;
}

.texto {
    @apply text-xl leading-5 w-[50rem];
    font-family: 'Josefin Slab';
}

.infoBoton {
    @apply bg-transparent h-auto w-full flex-col items-end mt-10;
}

.boton {
    @apply flex h-14 w-[31.25rem] bg-black text-[#efb810] justify-center items-center transition duration-500 hover:bg-[#efb810] hover:text-black;
}

.Logo {
    @apply w-[30.938rem] h-[30.938rem] opacity-100 ml-[8.063rem] mr-[9.938rem];
}


/* Estilos Footer */
footer {
    @apply w-full bg-black min-h-20 text-[#efb810] flex justify-center;
}

footer ul {
    @apply px-10;
}

footer ul {
    @apply text-xs font-normal leading-relaxed text-yellow-400 inline-block list-none;
  }

footer a {
    @apply hover:bg-[#efb810] hover:text-black transition duration-500;
  }

footer li {
    @apply first:text-[0.9375rem] first:font-thin first:text-left;
}
